body {
    font-family: 'Roboto';
    background: #ffffff;

}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-transform: capitalize;
    color: #212121;
}

.logo .blue {
    color: #2196F3;
}

header .menu a {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #212121;
}

header .menu a:hover {
    color:#2196F3;
}

.contact  li a {
    color:#757575;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "Roboto";
    font-weight: 900;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 44px;
}

h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    color:#212121;
    text-align: center;
}

h3 {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 700;
    color:#212121;
    text-transform: uppercase;
}

.main-team {
    background:#F5F4FA;
}

.specialist {
    background:#ffffff;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team {
    text-transform: capitalize;
}

p {
    font-size: 14px;
    color:#757575;
    font-family: 'Roboto';
    font-weight: 400;
}

.slider {
    background: #2F303A;
    text-align: center;
}

.order-service {
    background: #2196F3;
    color: #ffffff;
}

button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    padding: 13px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    margin: 4px 4px 4px 4px;
    text-transform: capitalize;
    cursor: pointer;
}

button:hover {
    background: #2196F3;
    color: #ffffff;
}

footer {
    background:#2F303A;
}

address p {
    color:#ffffff;
}